<h1></h1>

<table>
  <tr>
    <th>Posted by</th>
    <th>Game</th>
    <th>Where</th>
    <th>Needed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sports.each do |sport| %>
  <tr>
    <td><%= image_tag sport.user.avatar.thumb.url, :class => "login-thumb" %><%= sport.user.username %></td>
    <td><%= sport.game %></td>    
    <td><%= sport.address %></td>
    <td><%= sport.needed %></td>
    <td><%= link_to 'Show', sport %></td>
    <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
    <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to 'Attend', attend_sport_path(sport.id), :method => :post %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'GAME', new_sport_path %>
