<h1></h1>
<%= form_tag sports_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "search" %>
    <%= submit_tag "Search", :name => nil, :class => "button" %>
  <p>
<% end %>

<table>
  <tr>
    <th>Posted by</th>
    <th>Game</th>
    <th>Where</th>
    <th>Needed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sports.each do |sport| %>
  <tr id="<%=sport.id%>">
    <td><%= image_tag sport.user.avatar.thumb.url, :class => "login-thumb" %><%= sport.user.username %></td>
    <td><%= sport.game %></td>    
    <td><%= sport.address %></td>
    <td><%= sport.needed %></td>
    <td id="needed-<%=sport.id%>"><%= button_to 'Attend', attend_sport_path(sport.id), :method => :post, :class => "tiny button" %></td>
    <!-- removed remote true dont forget to add it in -->
  </tr>
<% end %>
</table>

<br/>

<a href="#" data-reveal-id="myModal"><button type="button">Create Game</button></a>
<div id="myModal" class="reveal-modal">
  <h2>Create a Game</h2>
  <p><%= render 'form' %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

