<!DOCTYPE html>
<html>
<head>
  <title>PickUpSports</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmG5AMSt0spzB0RWDAGFTiVO_L28T3k94&sensor=false">
</script>
<script>
$(function() {
  initialize();
  <% Sport.all.each do |t| %>
  putMarker(<%= t.latitude %>, <%= t.longitude %>);
  <% end %>
});

</script>

<body>
<div class="login">
    <% if user_signed_in? %> 
         <%= image_tag current_user.avatar.thumb.url, :class => "login-thumb" %> <%= current_user.username %> 
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path%>
    <% end %> 
</div>

<div class="logo">
    <h1>FINAL PROJECT</h1>
</div>

<%= form_tag sports_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <p>
<% end %>

<%= yield %>
<br><br><br>
<div id="map-canvas"/>
</body>
</html>
